@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/Categoria/Adiciona" method="post">
        <label for="nome">Nome:</label>
        <input name="categoria.Nome" id="nome" />

        <label for="descricao">Descrição:</label>
        <input name="categoria.Descricao" id="descricao" />

        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>